.ec2-page {
  width: auto;
  height: auto;
  position: relative;
  padding: 24px;
}
.ec2-table {
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  background-color: #ffffff;
  width: 100%;
  border-collapse: collapse;
  /* border-spacing: 0; */
  /* text-align: left; */
  /* max-height: calc(100vh - 179px); */
  height: auto;
  overflow: auto;
  position: relative;
}
.ec2-table th,
td {
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding: 0 10px;
}
.ec2-table th {
  height: 48px;
  background-color: #f5f5f5;
  z-index: 2;
  font-size: 14px;
  color: #1f1f1f;
  font-weight: 700;
  position: sticky;
  top: -1px;
}
.ec2-table td {
  height: 48px;
  font-size: 14px;
  color: #333;
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
} 

.group-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.group-btn button {
  min-width: 80px;
  height: 32px;
  border-radius: 4px;
  margin-right: 4px;
  border: none;
  outline: none;
  cursor: pointer;
}
